.sign-form-design{ 
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0 1px 5px 2px black;
    margin: 50px auto;
    padding: 30px 90px;
    position: relative;  
    background-color: white;
}

.button-signup{
    background-color:goldenrod;
    color: black;
    margin: 10px auto;
    font-size: 30px;
    padding: 7px 190px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
    box-shadow: 0px 3px 4px 2px gray;
}
.box-input{
    padding: 10px 40px;
    margin: 15px auto;
    width:380px;
     color: black;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }

.flex-container{
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
}
.content{
    margin-left: 130px;
}
@media screen and (max-width:768px) {

.login-form-design {
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0 1px 5px 2px black;
    margin: 50px auto;
    padding: 30px 50px;
    position: relative;
    background-color: white;
  }
}